@{
    ViewData["Title"] = "Home Page";
}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/slider1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/slider2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/slider3.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="features w-50 m-auto d-flex justify-content-around">
    <div class="food-feature d-flex justify-content-center align-items-center ">
        <div id="food-icon"><i class="fa-solid fa-hand-holding-droplet"></i></div>
        <div id="food-icon-descripton" class="d-none">
            Tüm seferlerimizde açık büfe ikram servisimiz
            bulunmaktadır.
        </div>
    </div>
    <div class="tv-feature d-flex justify-content-center align-items-center ">
        <div id="tv-icon"><i class="fa-solid fa-tv"></i></div>
        <div id="tv-icon-descripton" class="d-none">
            10" HD Ekran ile film, canlı TV izleyebilme ve internete
            erişim
            sağlayabilme imkanı.
        </div>
    </div>
    <div class="wifi-feature d-flex justify-content-center align-items-center ">
        <div id="wifi-icon"><i class="fa-solid fa-wifi"></i></div>
        <div id="wifi-icon-descripton" class="d-none">
            Tüm otobüslerimizde bulunan Wifi hizmeti ile yolculuk
            boyunca
            internet imkanı
        </div>
    </div>
    <div class="socket-feature d-flex justify-content-center align-items-center ">
        <div id="socket-icon"><i class="fa-solid fa-plug"></i></i></i></div>
        <div id="socket-icon-descripton" class="d-none">
            Tüm otobüslerimizde bulunan 220 Volt priz ile
            yolculuk
            boyunca cihazlarınızı şarjı bitmeden kullanabilirsiniz
        </div>
    </div>
    <div class="android-feature d-flex justify-content-center align-items-center ">
        <div id="android-icon"><i class="fa-brands fa-android"></i></div>
        <div id="android-icon-descripton" class="d-none">
            Android ekranlar ile internete bağlanarak ve
            kişisel
            arşivlerinize ulaşarak yolculuğunuzun keyfini sürebilirsiniz.
        </div>
    </div>
    <div class="usb-feature d-flex justify-content-center align-items-center ">
        <div id="usb-icon"><i class="fa-brands fa-usb"></i></div>
        <div id="usb-icon-descripton" class="d-none">
            Otobüslerimizde bulunan USB girişleri ile kişisel
            verilerinize
            ulaşabilir ve telefonlarınızı şarj edebilirsiniz.
        </div>
    </div>


</div>
<div class="index-main mt-4 d-flex w-100 m-auto justify-content-evenly">
    <div class="main-advertising">
        <img src="/img/index.png" class="container-fluid" alt="">
    </div>
    <div>
        <div class="d-flex w-100">
            <div class="main-advertising2">
                <img src="/img/asd.png" class="container-fluid" alt="">
            </div>
            <div class="w-50">
                <h1 class="display-4">Bilet Almanın En Kolay Adresi</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-4">
        <div class="col-md-4 mt-2">
            <img src="/img/ankara.jpg" class="container-fluid" alt="">
        </div>
        <div class="col-md-4 mt-2">
            <img src="/img/antalya.jpg" class="container-fluid" alt="">
        </div>
        <div class="col-md-4 mt-2">
            <img src="/img/izmir.jpg" class="container-fluid" alt="">
        </div>
        <div class="col-md-4 mt-2">
            <img src="/img/bursa.jpg" class="container-fluid" alt="">
        </div>
        <div class="col-md-4 mt-2">
            <img src="/img/bursa.jpg" class="container-fluid" alt="">
        </div>
    </div>
</div>
