<div class="container mt-5 p-5">
    <div class="col-md-12 col-xs-12 col-sm-12">
        <h3>KİŞİSEL VERİLERİN İŞLENMESİNE İLİŞKİN AYDINLATMA METNİ</h3>
        <p>
            <b>
                Pamukkale Turizm Sanayi Akaryakıt Tic. ve Ltd.Şti, A Pamukkale Taşımacılık Turizm Tic Ltd Şti.,
                APamukkale Kargo Lojistik ve Taşımacılık A.Ş., Pamuktur Taşımacılık Turizm Tic.A.Ş. Anadolu Bilet
                Satış Hiz. Ve Oto. İşl.A.Ş. (birlikte “Pamukkale Grup Şirketleri” olarak anılacaktır) olarak kişisel
                verilerinizin korunmasına ve güvenliğine azami özen göstermekteyiz. Bu kapsamda, başta özel hayatın
                gizliliği olmak üzere kişilerin temel hak ve özgürlüklerini korumak ve kişisel verilerin korunması
                amacıyla düzenlenen 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”) ve ilgili mevzuat
                uyarınca kişisel verilerinizin toplanma şekilleri, işlenme amaçları, işlemenin hukuki nedenleri ve
                haklarınız konularında Veri Sorumlusu olarak sizleri en şeffaf şekilde aydınlatmak ve bilgilendirmek
                isteriz.
            </b><br>
        </p>
        <b>İşleme Amacı </b>
        <p>Kişisel verileriniz, Pamukkale Grup Şirketleri tarafından hizmet sunulabilmesini teminen, </p>
        <ul>
            <li>Biletleme ve rezervasyon bilgilerinizi, </li>
            <li>Adınızı Soyadınız telefonunuz ile kimlik ve pasaport bilgilerinizi,</li>
            <li>Seyahat ve güzergâh bilgilerinizi,</li>
            <li>Biletleme ve rezervasyon detaylarınızı,</li>
            <li>Faturalama ve ödeme araçlarına ilişkin bilgilerinizi,</li>
            <li>Çağrı merkezimiz vasıtasıyla toplanan ses kayıtlarınızı,</li>
            <li>Güvenlik amacıyla toplanan kamera/video/fotoğraf kayıtlarınızı,</li>
            <li>Kazalara ilişkin hukuki sorumluluklarımızı yerine getirmek üzere toplanan sağlık verilerinizi,</li>
            <li>Ödeme yapmaya ve iade almaya ilişkin bilgilerinizi,</li>
            <li>Kişisel ilgi alanlarınıza ilişkin bilgilerinizi,</li>
            <li>
                Ürün ve hizmetlere ilişkin talep ve şikâyetleriniz kapsamında çalışanlarımıza iletmiş olduğunuz
                bilgilerinizi,
            </li>
            <li>
                İnternet sitemiz, mobil uygulamalarımız ve diğer iletişim kanallarımızı kullanımınıza ait
                bilgilerinizi,
            </li>
            <li>
                İnternet sitemiz kullanıcıları için, bilgisayar/donanım ve bağlantı bilgileri, sayfa görüntüleme
                istatistikleri, sayfaya gelen ve gidilen trafik bilgileri, ad data/reklam yayınları ile ilgili
                veriler, IP adresleri ve standart web log bilgisi/standart web günlüğü bilgileri dahil, sitemizi
                ziyaret etmenizden, hizmetlerimizi kullanmanızdan, içerik ve reklamlarımız ile etkileşiminizden
                doğan diğer bilgiler;
            </li>
            <li>Pamukkale Grup Şirketleri içinde gerekli operasyonel faaliyetlerin yürütülmesi, </li>
            <li>
                Pamukkale Grup Şirketleri tarafından ticari kararların verilmesi, uygulanması ve gerçekleştirilmesi
                konusunda gerekli adımların atılması,
            </li>
            <li>
                İş ilişkisi kurduğumuz kişilerin ve Pamukkale Grup Şirketleri’nin bu ilişkilerden kaynaklı hukuki
                emniyetinin sağlanması,
            </li>
            <li>
                Pamukkale Grup Şirketleri tarafından düzenlenen organizasyonların gerçekleştirilmesi amaçlarıyla
                Kanun’un 5 ve 6. maddeleri uyarınca işlenmektedir.
            </li>
        </ul>
        <br>
        <b>Verilerin Aktarıldığı Taraflar ve Aktarım Amacı</b>
        <p>
            Kişisel verileriniz, işbu Kişisel Verilerin İşlenmesine İlişkin Aydınlatma Metni’nde yer alan amaçlar
            dahilinde Kanun’un 8 ve 9. maddeleri uyarınca, iş ortaklarıyla, çalışanlarıyla, hizmet sağlayıcılarıyla
            (bulut bilişim ve diğer bilişim hizmetleri sağlayan şirketler ve danışmanlar dahil olmak üzere) ve
            acenteleriyle ve acenteliği yapılan şirketlerle, Hissedarlar ve iştirakleriyle, yürürlükteki kanunlar
            gereği yurtiçi ve yurtdışında yetkili idari kuruluşlar ve yasal zorunluluklar doğrultusunda, diğer
            ilgili kişi ve kuruluşlarla, kamu güvenliğinin sağlanması ve seyahat gerçekleştirilen ülkelerde
            yürürlükteki yasal düzenlemelerden kaynaklanan yükümlülüklerin yerine getirilmesi amacı ile, bilgi
            teknolojileri hizmet sağlayıcılarına, yazılım hizmetleri ve diğer dış kaynak hizmet sağlayıcılarına,
            barındırma hizmet sağlayıcılarına, kargo ve lojistik şirketlerine, hukuk bürolarına, şikayet yönetimi ve
            güvenliğin sağlanmasına ilişkin yazılım şirketlerine, ajanslara, danışmanlık şirketlerine, sosyal medya
            mecralarına, grup şirketlerimiz ile hissedarlarımıza, iş ortaklarımıza, tedarikçilerimize, yetkili kamu
            kurumlarına ve özel kişilere aktarılabilecektir. Pamukkale Grup Şirketleri, kullanıcı bilgilerinizi
            reklam hedeflemesi amacıyla, Google Müşteri Eşleştirme (Google Customer Match) ve Facebook Özel Hedef
            Kitle (Facebook Custom Audiences) hizmetlerini kullanmak suretiyle Google ve/veya
            Facebook,Twitter,Instagram, Snapchat ile paylaşabilir. Google Müşteri Eşleştirme hizmeti, Pamukkale Grup
            Şirketleri’nin Google’ın reklam ağı (örneğin, Arama, Gmail ve YouTube) üzerinden hedefleme yapılmak
            suretiyle size ulaşılmasına ve size özel sunulan pazarlama mesajlarını görmeniz için kullanıcı
            bilgilerinizi kullanmasına olanak tanımaktadır. Google kullanıcıları, Google reklam ayarlarında Müşteri
            Eşleştirme reklamları dahil olmak üzere Google hizmetlerinde gördükleri reklamları kontrol
            edebilmektedirler. Buradan detaylı olarak nasıl reklam ayarlarını kapatacağınızı görebilirsiniz.
            Facebook Özel Hedef Kitle hizmeti kapsamında Pamukkale Grup Şirketleri, hedefleme yapılmak suretiyle
            Facebook ve/veya Facebook’un sahip olduğu diğer uygulamalar üzerinden size reklam ve kampanyalar
            sunabilir. Buradan detaylı olarak reklam tercihlerinizi nasıl değiştirebileceğinizi görebilirsiniz.
            Pamukkale web sitesi Google Analystics kullanmaktadır. Google Analytics’ten aldığımız veriler web
            sitemizi siz müşterilerimizin tercihlerine göre optimize etmemizi sağlamaktadır. IP adresinizin de dahil
            olduğu bu veriler Google tarafından ABD’deki sunucularda barındırılmaktadır. Daha fazla bilgi için
            lütfen <a href="https://www.google.com.tr/intl/tr/policies/privacy/">Google’ın gizlilik politikasını</a>
            inceleyin.
            <br>
            Web sitemiz çerezleri kullanmaktadır. “Çerez” tarayıcınıza gönderilebilen bir veridir. Tarayıcınız
            belirlediğiniz seçenekler doğrultusunda çerezleri sisteminizde saklayabilir. Çerezler işletim
            sisteminiz, tarayıcı tipiniz, IP adresiniz vb. bilgileri toplar. Böylece web sitemizin barındığı sunucu
            tarayıcınızı ve daha önce ziyaret ettiğiniz sayfaları takip edebilir, bununla birlikte çerezler,
            örneğin, daha önce sepetinize eklediğiniz bir hizmeti/ürünü sonraki ziyaretlerinizde size
            gösterebilmemizi sağlar.Genel olarak internet tarayıcıları, çerezleri otomatik olarak kabul edecek
            şekilde ön tanımlıdır. Tarayıcılar, çerezleri engelleyecek veya cihaza çerez gönderildiğinde kullanıcıya
            uyarı verecek şekilde ayarlanabilir. Çerezleri yönetmek tarayıcıdan tarayıcıya farklılık gösterdiğinden
            ayrıntılı bilgi almak için tarayıcının yardım menüsüne bakılabilir. İnternet tarayıcınızdaki ayarları
            değiştirerek çerezleri kabul veya reddetme imkanına sahipsiniz. Tarayıcı ayarlarınızı nasıl
            değiştireceğinizi ya da çerezleri nasıl sileceğinizi öğrenmek için lütfen tarayıcınızın yönergelerine
            bakınız.
        </p>

        <b>Rızaya Tabi İşlemeler </b>
        <p>
            Ayrıca rıza göstermeniz halinde, size ait kişisel bilgileriniz, sizin verdiğiniz onay doğrultusunda
            kampanya bildirimleri, yeni ürün duyuruları ve çapraz alışveriş fırsatlarının paylaşılması amacı dahil
            olmak üzere ürün ve/veya hizmetlerin tanıtımı, promosyonu, size özel kampanya, reklam, hedefleme, analiz
            vs. gibi amaçlarla işlenebilecek, saklanabilecek ve bu kapsamda hizmet alınan üçüncü kişiler dahil
            Pamukkale grup şirketleri ile, Şirket’in iş ortakları ve tedarikçileri ile hukuken yetkili kamu kurum ve
            kuruluşları ile özel hukuk tüzel kişileriyle paylaşılabilecektir.
        </p>

        <b>Toplama Yöntemi ve Hukuki Sebebi</b>
        <p>
            Kişisel verileriniz, Pamukkale Grup Şirketleri tarafından işbu Kişisel Verilerin İşlenmesine İlişkin
            Aydınlatma Metni’nde belirtilen amaçlarla kullanılmak üzere her türlü yazılı, sözlü, elektronik
            ortamlardan otomatik olan ya da olmayan yöntemlerle toplanabilmektedir. Kişisel verileriniz Kanun’un 5.
            ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları ile işbu Kişisel Verilerin
            İşlenmesine İlişkin Aydınlatma Metni’nde belirtilen amaçlarla işlenebilmekte ve aktarılabilmektedir.
        </p>

        <b>Kişisel Verilerin Saklanma Süresi </b>
        <p>
            Pamukkale Grup Şirketleri, kişisel verileri işbu Kişisel Verilerin İşlenmesine İlişkin Aydınlatma
            Metni’nde belirtilen amaçların ve ilgili mevzuatın gerektirdiği süre boyunca saklayacaktır. Buna ek
            olarak, Pamukkale Grup Şirketleri, veri sahibi ile arasında doğabilecek herhangi bir uyuşmazlık
            durumunda, uyuşmazlık kapsamında gerekli savunmaların gerçekleştirilebilmesi amacıyla sınırlı olmak
            üzere ve ilgili mevzuat uyarınca belirlenen zamanaşımı süreleri boyunca kişisel verileri
            saklayabilecektir.
        </p>


        <b>Veri Güvenliğine İlişkin Önlem ve Taahhütler </b>
        <p>
            Pamukkale Grup Şirketleri,
        </p>
        <ul>
            <li>kişisel verilerin hukuka aykırı olarak işlenmemesini, </li>
            <li>kişisel verilere hukuka aykırı olarak erişilmemesini ve</li>
            <li>kişisel verilerin muhafazasını</li>
        </ul>
        <p>
            sağlamak amacıyla uygun güvenlik düzeyini temin etmeye yönelik gerekli teknik ve idari tedbirleri almayı,
            gerekli denetimleri yaptırmayı taahhüt eder. Pamukkale Grup Şirketleri elde ettiği kişisel verileri işbu
            Kişisel Verilerin İşlenmesine İlişkin Aydınlatma Metni ile ilgili yasal mevzuata aykırı olarak başkasına
            açıklamayacak ve işleme amacı dışında kullanmayacaktır
        </p>

        <b>Kanun Kapsamındaki Haklarınız </b>
        <p>
            Kanun’un 11. maddesi uyarınca, veri sahipleri olarak;
            <br>
        </p>
        <ul>
            <li>
                Kişisel veri işlenip işlenmediğini öğrenme,
            </li>
            <li>
                Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
            </li>
            <li>
                Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
            </li>
            <li>
                Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
            </li>
            <li>
                Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu
                kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
            </li>
            <li>
                6698 sayılı Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen,
                işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok
                edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere
                bildirilmesini isteme,
            </li>
            <li>
                İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin
                kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,
            </li>
            <li>
                Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın
                giderilmesini talep etme, haklarına sahipsiniz.
            </li>
        </ul><br>
        <p>
            Söz konusu haklarınıza ilişkin taleplerinizi, kişisel veri sahipleri olarak yazılı bir şekilde “İsmet
            Kaptan Mahallesi Gazi Bulvarı No:95 Münir Birsel Plaza K:2 D:4 Çankaya / İZMİR”
            adresine yazılı olarak, apamukkale@hs01.kep.tr adresine güvenli elektronik imza, mobil imza ya da varsa
            Pamukkale Grup Şirketleri’ne daha önceden bildirdiğiniz ve Pamukkale Grup Şirketleri sistemlerinde
            kayıtlı bulunan elektronik posta adresi aracılığı ile info@pamukkale.com.tr adresine iletilmesi halinde
            30 (otuz) gün içerisinde değerlendirilerek sonuçlandırılacaktır. Veri Sahibi tarafından iletilen
            taleplerde, veri sahibinin adı, soyadı, başvuru yazılı ise imzası, TC kimlik numarası ya da yabancı ise
            uyruğu, pasaport numarası veya varsa kimlik numarası, tebligata esas yerleşim yeri veya iş adresi, varsa
            bildirime esas elektronik posta adresi, telefon ve faks numarası ve talep konusu bulunması zorunludur.
            Başvuruya verilecek yanıtın CD, flash bellek gibi bir kayıt ortamında verilmesi halinde ise Pamukkale
            Grup Şirketleri, talepte bulunan Veri Sahibi’nden kayıt ortamının maliyeti tutarında ücret talep
            edebilir.

        </p>

        <b>Metindeki Değişiklikler </b>
        <p>
            Pamukkale Grup Şirketleri, işbu Metin’de yer alan hükümleri dilediği zaman yayımlamak suretiyle
            değiştirebilir. Pamukkale Grup Şirketleri’nin değişiklik yaptığı hükümler yayınlandığı tarihte yürürlük
            kazanır.
        </p>
        <p>
            <a style="text-decoration: underline; color: black; font-weight: bold; font-size: 14px; margin: 10px 0px;"
               href="/uploads/verisahibibasvuruformu.docx" target="_blank">
                Veri Sahibi Başvuru Formu için
                tıklayınız.
            </a>
        </p> <a style="text-decoration: underline; color: black; font-weight: bold; font-size: 14px; margin: 10px 0px;"
                href="/uploads/KVKK-26-Aralık-Oncesi.docx" target="_blank">
            26 Aralık 2019 Öncesi Kvkk Metni için
            tıklayınız
        </a>
    </div>
</div>