<div class="container ps-5 pt-5">
    <div class="row">
        <div class="col-md-8">
            <h3>Yolcu Hakları</h3>
            <p class="mt-3">
                Dünden bugüne “Türkiye’nin Kavuşturan Gücü” olarak, araçlarımızdaki yolcularımızı hep
                misafirimiz
                olarak
                gördük.“Kaliteyi opsiyon olarak değil standart olarak sunma” hedefimizden hiçbir zaman taviz
                vermedik.
                Çünkü biz; “Kalite ülkemizin güzel insanlarının en doğal hakkıdır” diyoruz.
            </p>
            <p>
                Karayolu ile yolcu taşımacılığında; güvenli, yenilikçi ve “Koşulsuz yolcu memnuniyetini” önceleyen
                hizmet anlayışımız bizim temel vizyonumuzdur.
            </p>
            <p>
                Bu vizyon ile yolcularımızın hizmet aldıkları tüm süreçlerde; kurum kültürümüzün bir ifadesi ve
                “Toplam Kalite Yönetiminin” gereği olarak çalışmalarımızı aşağıdaki ilkeler ışığında
                gerçekleştirmekteyiz.
            </p>
            <h5>Güvenli Yolculuk Hakkı</h5>
            <p>
                Tüm yolcularımızın güvenli yolculuklar gerçekleştirebilmeleri için gerekli tüm tedbirlerin
                alınmasını ilke edindik.
            </p>
            <h5> Koşulsuz Yolcu Mutluluğu Hakkı</h5>
            <p>
                Koşulsuz yolcu mutluluğunu sağlamak ve keyifli yolculuklar gerçekleştirmeleri için yolcularımızın
                bugün
                ve gelecekteki ihtiyaçlarını en iyi şekilde karşılamayı ilke edindik. Türkiye’nin en tecrübeli ekibi
                olarak tüm çalışanlarımız tarafından bu ilkemiz benimsenmiştir.
            </p>
            <h5>Keyifli Yolculuk Hakkı</h5>
            <p>
                Yerli ve Milli bir marka olarak; tarihi değerlerimizi ve geleneklerimizi kurum kültürümüz olarak
                benimseriz. Geleneklerimizde misafirin en iyi şekilde ağırlanması ve “ikram” olmazsa olmazlarımızın
                başındadır. Her yolcumuzu misafirimiz olarak kabul eder; zengin ikram menülerimiz ile Türk
                misafirperverliğine uygun ağırlarız.
            </p>
            <h5>Saygı ve İtibar Görme Hakkı</h5>
            <p>
                Yolcularımız güleryüzlü, nazik ve saygılı bir yaklaşımla yolculuk gerçekleştirme hakkına sahiptir.
            </p>
            <h5>Mahremiyet ve Gizlilik Hakkı</h5>
            <p>
                Yolcularımızın kişisel bilgilerinin, seyahat programlarının gizli kalması ve bu hususlarda gerekli
                tüm yasal zorunlulukları yerine getirmeyi her koşulda öncelikli tutarız.
            </p>
            <h5>Bilgi İsteme Hakkı</h5>
            <p>
                Yolcularımız, hizmet süreçlerimizin tüm aşamalarına dair bilgi edinme hakkına sahiptir. A’dan Z’ye
                tüm
                destek birimlerimiz, şirket kültürümüzü benimseyen tüm çalışanlarımız ile yolcularımızın sorularını
                cevaplamak temel prensibimizdir.
            </p>
            <h5>Doğru Bilgi Edinme Hakkı</h5>
            <p>
                Yolculuk öncesine ve sonrasına ait tüm süreçlerde bizlere güven duyan yolcularımızı her zaman ve her
                koşulda doğru bilgilendirmek değişmez ilkelerimizdendir.
            </p>
            <h5>Taahhüt Edilen Zamanda Ulaşma Hakkı</h5>
            <p>
                Etik ve dürüst işletme anlayışı gereği; seferlerimizin kalkış ve varış saatlerini gerçekçi bir
                şekilde
                programlayarak yolcularımızı yanıltmadan doğru bir şekilde paylaşmayı ilke edindik.
            </p>
            <h5>Şikâyet/Görüş ve Öneri Bildirme Hakkı</h5>
            <p>
                Yolcularımız, haklarının ihmali veya memnuniyetsizlik yaşamaları halinde şikâyet mekanizmasının
                başlatılması, sonuçlandırılması ve sonucundan haberdar edilmesi hakkına sahiptir. Başvurudan
                itibaren 24
                saat içerisinde geri dönüş yapmak, 7/24 ulaşılabilir olan Çağrı Merkezimiz ve Yolcu İlişkileri
                Departmanımızın ana felsefesidir.
            </p>
            <h5>Dini Vecibelerini Yerine Getirme Hakkı</h5>
            <p>
                Yolcularımızın dini vecibelerini yerine getirebilmeleri için azami hassasiyet gösterir ve gereken
                tedbirleri alırız. Duraklama noktalarımızda ibadet alanlarının bulunmasına özen gösterir, Ramazan
                ayı
                süresince ikram ve mola programlarımızı iftar ve sahur zamanlarına göre güncelleriz.
            </p>
            <h5>Koşulsuz Ücret İadesi ve Değişim Hakkı</h5>
            <p>
                “Seyahat Etmek Özgürlüktür” ilkesini benimseyerek, yolcularımıza seyahat programlarında daha fazla
                esneklik ve özgürlük imkânı sunmayı prensip edindik. Yolcularımız satış of islerimiz, çağrı
                merkezimiz,
                web sitemiz ve mobil uygulamamız üzerinden, hareket saatinden 6 saat öncesine kadar bilet değişiklik
                ve
                iptal işlemlerini koşulsuz olarak yapabilirler. Ayrıca Pamukkart üyesi yolcularımız seferlerimizden
                2
                saat öncesine kadar üyelik hesaplarından online olarak biletlerini açığa alabilmektedirler.
            </p>
            <h5>Mal Güvenliği Hakkı</h5>
            <p>
                Tüm araçlarımızda bagaj bölümlerinin düzenli ve hijyenik olmasına özen göstermekte, sefer boyunca
                bagajlarının kayıpsız ve sağlam şekilde taşınması için gerekli önlemleri almaktayız. Yolcularımızın
                bagajlarıyla ilgili haklarının ihmal edilmesi halinde yolcularımıza gerekli desteği vermek üzere
                Çağrı
                Merkezimiz ve Yolcu İlişkileri Departmanımız 7/24 ulaşılabilir durumdadır.
            </p>
        </div>
        <div class="col-md-4">
            <div class="h-25">
                <img src="/img/sofor-ab.png" class="container-fluid">
            </div>
            <div class="h-25"><img src="/img/muavin-abla.png" class="container-fluid"></div>
            <div class="h-25"><img src="/img/muavin-abi.png" class="container-fluid"></div>
            <div class="h-25"><img src="/img/tablet-gosteren-abla.png" class="container-fluid"></div>
        </div>
    </div>
</div>