<div class="container p-4">
    <div class="row justify-content-between">
        <div class="col-md-7">
            <div class="w-100">
                <div class="mb-4">
                    <h3>Bilet İşlemleri</h3>
                </div>
                <div>
                    <p>Tüm yolcularımız ferdi kaza sigortası ile teminat altına alınmaktadır.</p>
                    <p>
                        Biletinizi alırken doğru bilgi veriniz. Tüm hususları (ad-soyad, TC kimlik no, gün, saat,
                        kalkış ve varış yeri, koltuk no, cinsiyet, vb.) kontrol ediniz. Bu bilgilerin yanlış
                        belirtilmiş olmasının yükümlülüğü yolcuya aittir.
                    </p>
                    <p>
                        Biletinizin E-faturasını sefer tamamlandıktan sonra www.pamukkale.com.tr/ebilet adresinden
                        temin edilebilirsiniz
                    </p>
                    <p>
                        Hareket saatinden 6 saat öncesine kadar bilet değişimi yapılabilir. Biletiniz açık tarihli
                        bilete dönüştürülebilir. 12 saat öncesine kadar iptal işlemi yapılabilmektedir. Açık tarihli
                        biletin kullanım süresi 6 aydır.
                    </p>
                    <p>
                        Aracın hareket saatinde araç içerisinde hazır bulunmayan yolcularımızın, seyahat hakları
                        geçersiz sayılır.
                    </p>
                </div>
            </div>
            <div class="mt-5">
                <div class="mb-4">
                    <h3>ÇocukYolcularımız</h3>
                </div>
                <div>
                    <p>
                        Karayolu Taşıma Yönetmeliğine göre 0 – 12 yaş aralığında olan yolcular Çocuk Yolculardır.
                        Kara Yolu Taşıma Yönetmeliğine göre, 6 yaş ve üzeri tüm yolcuların ayrı koltukta seyahat
                        etmesi zorunludur.
                    </p>
                    <p>
                        6 ile 12 yaş arası yolcular için Ulaştırma Bakanlığı tarafından düzenlenen ücret tarifesi
                        üzerinden % 30 indirimli olarak uygulanmaktadır.
                    </p>
                    <p>
                        Yasal indirim kategorisine giren biletlerin satın alma işlemlerini şubelerimizden
                        yapabilirsiniz. 12 yaş ve üzeri tüm yolcular Pamukkart Hesabı edinebilirler.
                    </p>
                    <p>
                        0 – 12 yaş aralığında olan çocuk yolcuların refakatsiz seyahat etmesi mümkün değildir. 12 -
                        18 yaş aralığındaki yolcuların refakatsiz seyahat edebilmeleri için ise ebeveynlerinden
                        aldıkları izin belgesini teslim etmeleri gerekmektedir.
                    </p>
                    <p>18 Yaş Altı Ebeveyn İzin Belgesini indirmek için tıklayınız.</p>
                </div>
            </div>
            <div class="mt-4">
                <div>
                    <h3>Engelli Yolcularımız</h3>
                </div>
                <div>
                    <p>
                        Kara Yolu Taşıma mevzuatına göre, en az % 40 oranında engelli olduğunu belgeleyen yolcular
                        için bilet ücreti, Ulaştırma Bakanlığı tarafından düzenlenen ücret tarifesi üzerinden % 30
                        indirimli olarak uygulanmaktadır
                    </p>
                    <p>
                        Yasal indirim kategorisine giren biletlerin satın alma işlemlerini şubelerimizden
                        yapabilirsiniz.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div><img src="/img/icerik_biletislemleri.png" class="container-fluid" alt=""></div>
            <div><img src="/img/kosancocuk.png" class="container-fluid" alt=""></div>

        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-7">
            <div class="w-100">
                <div class="mb-4">
                    <h3>Bagaj kuralları</h3>
                </div>
                <div>
                    <p>
                        Kara Yolu Taşıma mevzuatına göre, araçlarda zehirli, yanıcı, patlayıcı, akıcı ve ağır kokulu
                        eşya taşınamaz. Böyle durumlarda bilet iptal işlemi gerçekleştirilmektedir.
                    </p>
                    <p>Karayolu Taşıma Mevzuatına göre, 30 kg'ı aşan bagajlardan ek bagaj ücreti alınmaktadır.</p>
                    <p>
                        Yasalar çerçevesinde; bagajlarda kıymetli evrak, kıymetli eşya (para, altın, döviz, mücevher,
                        elektronik eşya vs.) taşınması firma sorumluluğunda değildir. Bu nevi eşyaların müşteri
                        tarafından bagajda taşınması konusunda firmaya yazılı talep halinde; (firma bu nevi eşyaları
                        taşıyıp taşımama konusunda insiyatif sahibidir) ancak firma tarafından verilecek yazı ile
                        olabilir.
                    </p>
                    <p>
                        Yazılı tutanak olmayan taşımalarda talep reddedilmiş sayılır. Tutanaklandırılmamış bagajların
                        kaybı halinde en fazla bilet tutarının iki misli ücret ödenir.
                    </p>
                    <p>
                        Terminallerimize emanet eşya ve bagaj bırakılması Emniyet Müdürlüğü tarafından güvenlik
                        gerekçesiyle yasaklanmıştır.
                    </p>
                </div>
            </div>
            <div class="mt-5">
                <div class="mb-4">
                    <h3>Evcil Hayvanlarımız ile yolculuk</h3>
                </div>
                <div>
                    <p>
                        Aşı karneli kedi, köpek (tehlike arz edenler hariç) ve kuş (saka, muhabbet kuşu veya kanarya)
                        gibi 8 kg. ağırlığın altındaki evcil hayvanlarımız, özel taşıma kafeslerinde (23x30x40 cm.
                        ölçülerinden küçük kafeslerde) kilitli olmak şartıyla, hayvan sahibi yolcumuzun kucağında
                        seyahat edebilir.Kucakta taşınabilme ağırlık ve ölçü limitleri, taşıyıcı yolcunun ve
                        yanındaki yolcunun seyahat güvenliği gözetilerek belirlenmiştir. Hayvan sahibi yolcumuz,
                        evcil hayvanı için dilerse standart fiyat tarifesine uygun olarak koltuk satın alabilir.
                    </p>
                    <p>
                        8 kg. ağırlığın üzerindeki evcil hayvanlarımız ise yalnızca bagaj bölümünde ve özel taşıma
                        kafeslerinde, veteriner hekim kontrolünde uyuşturulmuş bir şekilde, otogar yetkililerimiz
                        ile evcil hayvan sahibi yolcumuz arasında imza karşılığında gerçekleştirilebilir.Belirtilen
                        koşulların sağlanmadığı ya da yolculuğun evcil hayvanımızın sağlığına zarar verebileceğine
                        kanaat getirilen durumlarda ulaşımını sağlamama inisiyatifi firmamıza aittir.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div><img src="/img/bagaj.png" class="container-fluid" alt=""></div>
            <div><img src="/img/kopek.png" class="container-fluid" alt=""></div>

        </div>
    </div>
</div>